<body>
<div class="row p-3">
      <div class="col-12">
        <h2> Buscar</h2>

<mat-form-field appearance="outline" style="width: 100%;">
  <input matInput
        placeholder="Buscar Pelicula"
        (keyup.enter)="buscarPelicula()"
        #textInputPelicula>
</mat-form-field>

        <div class="grid mb-8">
          <div *ngFor="let pelicula of peliculas" class="col-12 sm:col-6 md:col-6 xl:col-4">
            <pelicula-card-list [pelicula]="pelicula"></pelicula-card-list>
          </div>
        </div>
    </div>
</div>
</body>

