.genre-chip {
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 20px; /* Bordes redondeados */
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block; /* Para que se muestren en línea */
}
