<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner>

      </mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
<div *ngIf="peliculaDetalle; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6" style="background-color: rgb(212, 169, 252);">
    <mat-card-header>
      <mat-card-title>{{peliculaDetalle.title}}</mat-card-title>
      <mat-card-subtitle>Idioma: {{peliculaDetalle.original_language}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="peliculaDetalle | detalleImage" alt="{{peliculaDetalle.title}}" style="height: auto;">
  </mat-card>

<mat-card class="col-12 sm:col-6" style="background-color: rgb(212, 169, 252);" >
  <mat-card-header>
    <mat-card-title>Información</mat-card-title>
    <mat-card-subtitle *ngIf="peliculaDetalle.homepage">Link Pelicula: <a href="{{peliculaDetalle.homepage}}">{{peliculaDetalle.homepage}}</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>Popularidad: {{peliculaDetalle.popularity}}</mat-list-item>
      <mat-list-item>Titulo Original: {{peliculaDetalle.original_title}}</mat-list-item>
      <mat-list-item>Recuento de votos:{{peliculaDetalle.vote_count}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-flat-button class="d-flex align-items-center" color="primary" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
    <span>Volver</span>
  </button>
</mat-card>
</div>

